* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 320px;
  height: 240px;
  overflow: hidden;
}

#app, #canvas {
  /* width: 100%;
  height: 100%; */
}

#canvas {
  /* image-rendering: pixelated; */
}
