* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 336px;
  height: 262px;
  background: black;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #app {
  transform: translate(calc(336px / 2), calc(262px / 2)) scale(2);
  * {
    image-rendering: pixelated;
  }
} */
