* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 336px;
  height: 262px;
}

#canvas {
  margin: auto;
  /* width: 100%;
  height: 100%; */
}

#app {
  transform: translate(calc(336px / 2), calc(262px / 2)) scale(2);
  * {
    image-rendering: pixelated;
  }
}

